CompileFlags:
  Add:
    - -std=c11
    - -Iinclude
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wconversion
    - -Wshadow

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true